*.class
*.zip
*.rar
*.out
*.o
*.mp4

# Copias de la práctica 2 para el ejercicio 3b
practica-2/ejercicios/ftp/database/*/copias/*

# Targets de Maven para práctica 3
target

# JADE para la práctica 4
bin
JADE-all-4.3.2
APDescription.txt
MTPs-Main-Container.txt